# Pycache #
Modules/__pycache__/
# Pycharm env #
.idea/
# Wordlist dir but not contents #
WordlistDock/*
!WordlistDock/.keep
# Output dir #
Results/
# Log files #
*.log
# Hash files #
hashes.txt
# venv #
venv/
